@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap');
/*@import "@flaticon/flaticon-uicons/css/all/all";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        @apply m-0 p-0 box-border text-base duration-100;
    }

    html{
        @apply overflow-x-hidden;
    }

    body {
        @apply font-normal text-black;
    }

    i {
        @apply mt-0.5;
    }

    /*section{
        @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
    }*/
    ::selection {
        @apply bg-purple-500
    }

    img{
        @apply w-full h-full object-cover;
    }
    /*  NAVBAR-HEADER  */
    .navbar{
        @apply w-full h-20 px-5 md:px-10 lg:px-20 bg-white flex flex-row justify-between items-center border-b border-gray-200
    }
    .nav-list {
        @apply text-xs font-semibold text-black cursor-pointer
    }
    .nav-icon {
        @apply h-6 w-6 text-gray-500 group-hover:text-green-600 transition-all delay-300 cursor-pointer
    }

    /*  REGISTER  */
    .reg-div {
        @apply flex flex-col items-center justify-center px-4 py-6 lg:py-4 h-fit lg:h-96 w-[350px] md:w-[300px] lg:w-[400px] rounded-2xl shadow-gray-300 border border-gray-200 shadow-2xl space-y-4
    }
    .input-span {
        @apply border rounded-md border-gray-300 outline-none hover:outline-none w-full h-14 lg:h-10 px-3 py-1
    }
    .form-input {
        @apply border-none outline-none hover:outline-none w-full h-full text-gray-500 text-sm
    }
    .signup-icon {
        @apply rounded-full h-20 w-20 bg-gray-200 absolute -top-10 left-1/2 -right-1/2 text-gray-200
    }
}