services:
  db:
    image: postgres
    container_name: postgres_db
    restart: always
    env_file:
      - ./server/.env.development

    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    restart: always
    image: redis:7.4
    env_file:
      - ./server/.env.development
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - ./users.acl:/usr/local/etc/redis/users.acl
  api:
    build: ./server
    container_name: node_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env.development
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - db
      - redis
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npm run dev
      "
  web:
    build: ./client
    depends_on:
      - api
    ports:
      - "5500:5500"
    env_file:
      - ./client/.env.development
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  pgdata: {}
  redis_data: {}
